{% extends 'base.html.twig' %}

{% block title %}Évènements{% endblock %}

{% block pageTitle %}
    <!-- On vérifie si on afficher les publications d'une certaine ville ou d'un certain utilisateur -->
    {% if user is defined %}
        {% if app.user.id == user.id %}
            Évènements qui vous intéressent
        {% else %}
             Évènements qui intéressent {{ user.firstName }}
        {% endif %}
    {% elseif ville %}
        Évènements organisés à {{ ville.nom }}
    {% else %}
        Évènements
    {% endif %}


{% endblock %}

{% block body %}

    {% include 'topLinks.html.twig' %}

    {% include 'flashMessages.html.twig' %}

    <div class="row justify-content-center justify-content-lg-end mt-5">
        <div class=" events-block col-10 col-lg-9 justify-content-center">
            {% include 'event/eventSearchForm.html.twig' %}
        </div>
    </div>
        
    <div class="row justify-content-center justify-content-lg-end mt-5">
        <div class=" events-block col-10 col-lg-9 justify-content-center">

            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPERADMIN') %}
                <!-- Lien pour créer un nouveau évènements -->
                <div class="row justify-content-center">
                    <div class="col-10 mt-3 p-2 text-center">
                        <a class="new-event-button btn" href="{{ path('event-new') }}">Créer un évènement</a>
                    </div>
                    <div class="col-10">
                        <hr>
                    </div>
                </div>
            {% endif %}


            <div class="row justify-content-center pb-5">
                <!-- La liste des évènements -->
                {% for event in events %}
                    {% include 'event/eventsList.html.twig' %}
                {% endfor %}  
            </div>
            
        </div>
        
    </div>

    
    <div class="row justify-content-center justify-content-lg-end mt-5">
        <div class="navigation">
            {{ knp_pagination_render(events) }}
        </div>  
    </div>

{% endblock %}