{% extends 'base.html.twig' %}

{% block title %}Évènements{% endblock %}

{% block pageTitle %}
    <!-- The title changes depending on what page the user is on -->
    {% if user is defined %}
        {% if app.user.id == user.id %}
            Évènements qui vous intéressent
        {% else %}
             Évènements qui intéressent {{ user.firstName }}
        {% endif %}
    {% elseif ville %}
        Évènements organisés à {{ ville.nom }}
    {% else %}
        Évènements
    {% endif %}
{% endblock %}

{% block body %}

    {% include 'topLinks.html.twig' %}

    {% include 'flashMessages.html.twig' %}

    <!-- Search form for events -->
    {% if form is defined %}
        <div class="row justify-content-center justify-content-lg-end mt-5">
            <div class=" events-block col-11 col-sm-10 col-lg-9 justify-content-center">
                {% include 'event/eventSearchForm.html.twig' %}
            </div>
        </div>
    {% endif %}  
    <div class="row justify-content-center justify-content-lg-end mt-5">
        <div class=" events-block col-11 col-sm-10 col-lg-9 justify-content-center">
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPERADMIN') %}
                <!-- Link to create new events -->
                <div class="row justify-content-center">
                    <div class="col-11 col-sm-10 col-md-6 col-lg-3 mt-3 p-2 text-center">
                        <a class="new-event-button btn w-100" href="{{ path('event-new') }}">Créer un évènement</a>
                    </div>
                    <div class="col-11 col-sm-10">
                        <hr>
                    </div>
                </div>
            {% endif %}
            <div class="row justify-content-center pb-5">
                <!-- List of the events -->
                {% for event in events %}
                    {% include 'event/eventsList.html.twig' %}
                {% endfor %}  
            </div> 
        </div>
    </div>
    <!-- Pagination -->
    <div class="row justify-content-center justify-content-lg-end mt-5">
        <div class="navigation">
            {{ knp_pagination_render(events) }}
        </div>  
    </div>
{% endblock %}