{% extends 'base.html.twig' %}

{% block title %}Évènements{% endblock %}

{% block pageTitle %}Évènements que j'ai créés{% endblock %}

{% block body %}

{% include 'topLinks.html.twig' %}    

{% include 'flashMessages.html.twig' %}

{% if myEvents|length > 0 %}
    {% for event in myEvents %}
    <div class="row justify-content-center justify-content-lg-end mt-5 mb-5">
        <div class="profil-block col-10 col-lg-9 justify-content-center p-lg-3 pt-3">
            <div class="row justify-content-center align-items-center update-block">
                
                {% include 'event/myEvent.html.twig' %}

            </div>
        </div>
    </div>

    {% endfor %}
{% else %}
<div class="row justify-content-center justify-content-lg-end pb-5">
    <div class="events-block col-10 mt-3 p-3 mb-3">
        <d iv class="row justify-content-center">
            <div class="col-10 text-center">
                <p>Vou n'avez pas encore créé d'évènement</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-10 text-center">
               <hr> 
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-10 mt-3 p-2 text-center">
                <a class="new-event-button btn" href="{{ path('event-new') }}">Créer un évènement</a>
            </div>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}