<!-- The template that contains the responses of a comment -->

<div class="col-12 mt-2 mb-3">
    <div class="row justify-content-center">
        <div class="col-11">
            <div class="row">
                <div class="col-8">
                    <div class="row align-items-center mb-5">
                        <div class="col-lg-3">
                            <h5 class="m-0">Réponses</h5>
                        </div>
                        <div class="col-lg-6">
                            <a class="btn new-reply-button ml-lg-2 mt-2 mt-lg-0" href="">Je réponds</a>
                        </div> 
                    </div>
                </div>
                <div class="col-4">
                    <a class="hide-replies-button" href="">Cacher les réponses</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Form to send a reply to the comment -->
    <div class="new-reply-form row justify-content-center mb-5">
        <div class="col-11">
            <h6>Répondre à ce commentaire</h6>
            {{form_start(form)}}
                {{form_widget(form)}}
                <div class="row justify-content-end">
                    <div class="col-12 col-md-3">
                        <input type="submit" value="Envoyer" class="btn new-reply-submit-button w-100">
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
    
    <!-- List of replies -->
    {% for reply in replies %}
        
        <div class="row justify-content-around align-items-center reply ">
            <div class="col-10 update-block">
                {% include 'comment/singleCommentReply.html.twig' %}
            </div>
        </div>

    {% endfor %}
</div> 