@media all and (max-width: 991px){
    header{
        nav{
            .menu-block{
                ul#menu-list{
                    display: none;
                }
                .burger{
                    display: block;
                    margin-right: 3vw;
                    margin-top: 0.5vw;
                }
            }
        }
        h1#main-title{
            font-size: 30px;
        }
    }
    
}

@media (max-width: 976px){
    .title-block{
        order: 1;
        height: 250px;
        h1{
            font-size: 30px;
        }
    }

    .block-formulaire{
        order: 2;
    }
}

@media (max-width: 575px){
    header{
        h1#main-title{
            font-size: 24px;
        }
        #logo{
            max-width: 200px;
        }
    }
}

