@media all and (max-width: 991px){
    header{
        nav{
            .menu-block{
                ul#menu-list{
                    display: none;
                }
                .burger{
                    display: block;
                    margin-right: 3vw;
                    margin-top: 0.5vw;
                }
            }
        }
        h1#main-title{
            font-size: 30px;
            margin-left: 0px;
        }
    }
    .user-data.presentation{
        text-align: center;
    }
    
}

@media (max-width: 992px){
    .title-block{
        order: 1;
        height: 250px;
        h1{
            font-size: 30px;
        }
    }

    .block-formulaire{
        order: 2;
        width: 70%;
    }
    .card-container{
        .cardd{
            width: 40%;
        }
    }

}

@media all and (max-width: 768px){
    .update-block{
        .update-form-block{
            order: 2;
        }
        .update-image-block{
            order: 1;
            margin-bottom: 10px;
        }
    }
    .new-club-form{
        form{
            width: 80%;
        }
    }
}

@media (max-width: 575px){
    header{
        h1#main-title{
            font-size: 24px;
        }
        #logo{
            max-width: 200px;
        }
    }
    .card-container{
        .cardd{
            width: 40%;
        }
    }
}

@media all and (max-width: 445px){
    .card-container{
        .cardd{
            width: 100%;
        }
    }
}

@media all and(max-width: 425px){
    body{
        .container-fluid{
            background-image: none;
            background-color: $black;
            .row{
                .block-formulaire{
                    width: 100%;
                    padding: 13vw 6.5vw!important;
                    min-width: 200px!important;
                }
                .title-block{
                    text-align: center;
                    height: 100px;
                    .row{
                        display: flex;
                        justify-content: center;
                        h1#login-title{
                            font-size: 13.3vw;
                        }
                        .logo-icon{
                            padding: 0;
                        }
                    }
                }     
            }  
        }
        .new-club-form{
            form{
                width: 90%;
            }
        }
    }
    
}

