@media (max-width: 976px){
    .title-block{
        order: 1;
        height: 250px;
        h1{
            font-size: 3rem!important;
        }
    }

    .block-formulaire{
        order: 2;
    }
}

@media (max-width: 575px){
    .title-block{
        height: 130px;
        margin: 30px 0px;
        h1{
            font-size: 2rem;
        }
    }
    #logo{
        width: 250px;
    }
    h1{
        font-size: 2rem;
    }
}

