@mixin buttons($color){
    color: $color;
    background-color: transparent;
    border: 1px solid $color;
    border-radius: 0;
    
    &:hover{
        color: $black;
        background-color: $color;
        transition: 0.2s;
    }
}

@mixin buttons-colored($color){
    color: $black;
    background-color: $color;
    border-radius: 0;
    &:hover{
        color: $color;
        background-color: $black;
        transition: 0.2s;
        border: 1px solid $color;
    }
}

@mixin upload_button($color, $backgroundColor, $content, $lgHeight, $mdHeight, $border){
    .custom-file{
        margin-top: 10px;
         height: $lgHeight;
        .custom-file-input{
            cursor: pointer;
           
        }
        .custom-file-label{
            height: 100%;
            border: $border;
            border-radius: 0;
            @media screen and (max-width: 991px){
                height: 100%;
            }
            @media screen and (max-width: 768px){
                height: 100%;
            }
            &:after{
                width: 100%;
                height: auto;
                min-height: 100%;
                text-align: center;
                border-radius: 0;
                color: $color;
                background-color: $backgroundColor;
                content: $content;  
            }
        }
    }
}
