{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block pageTitle %}Changer mon mot de passe{% endblock %}

{% block body %}

{% include 'topLinks.html.twig' %}

<div class="row justify-content-center justify-content-lg-end mt-5 mb-5">
    <div class="profil-block col-11 col-sm-10 col-lg-9 justify-content-center p-lg-3 pt-3">
        <div class="row justify-content-center align-items-center">
            <div class="col-12">
                {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <div class="row justify-content-end">
                        <div class="col-12 col-md-6 col-lg-3 pb-3">
                            <input type="submit" class="btn btn-submit-password w-100" value="Enregistrer">
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>


{% endblock %}