
.button-block{
    background-color: $blackrgba;
    width: 100%;
    .btn{
        font-size: 0.7rem;
        letter-spacing: 2px;
        margin: 10px;
        border-radius: 1px;
        font-family: OpenRegular;
        text-transform: uppercase;
    }
    .event-button{
        @include buttons($orange);
    }
    .event-button.current-link{
        @include buttons-colored($orange);
    }
    .grimpeur-button{
        @include buttons($yellow);
    }
    .grimpeur-button.current-link{
        @include buttons-colored($yellow);
    }
    .post-button{
        @include buttons($grey);
    }
    .post-button.current-link{
        @include buttons-colored($grey);
    }
    .club-button{
        @include buttons($green);
    }
    .club-button.current-link{
        @include buttons-colored($green);
    }
    
}
.link-to-profil{
    color: $green;
    font-family: OpenSemiBold;
    text-decoration: underline;
    &:hover{
        color: $orange;
    }
}