{% extends 'base.html.twig' %}

{% block title %}Messages{% endblock %}

{% block pageTitle %}Messages{% endblock %}

{% block body %}

    {% for message in messages %}
    <div class="row justify-content-center justify-content-lg-end mt-5  ">
        <div class="col-11 col-lg-9 justify-content-center message-block {% if not message.seen and message.fromUser.id != app.user.id %} not-seen {% endif %}">
            
            {% include 'message/singleMessage.html.twig' %}  
              
        </div>
    </div>
    {% endfor %}

{% endblock %}
