<!-- Les messages flash aparaissent ici -->
{% for message in app.flashes('success') %}
<div class="row justify-content-center justify-content-lg-end">
    <div class="button-block flash-success col-11 col-sm-10 col-lg-9 mt-3 p-2 ">
        <div>{{ message }}</div>
    </div>    
</div>
{% endfor %}