
{% extends 'base.html.twig' %}

{% block title %}Publications{% endblock %}

{% block pageTitle %}

Mes publications

{% endblock %}

{% block body %}

        {% include 'topLinks.html.twig' %}    

        {% include 'flashMessages.html.twig' %}

        {% if myPosts|length > 0 %}
            {% for post in myPosts %}
            <div class="row justify-content-center justify-content-lg-end mt-5 mb-5">
                <div class="profil-block col-10 col-lg-9 justify-content-center p-lg-3 pt-3 pb-3">
                    <div class="row justify-content-between align-items-center my-post-block">
                        {% include 'post/myPost.html.twig' %}
                    </div>
                </div>
            </div>
            {% endfor %}
            
        {% else %}
        
        {# Le bloc qui s'affiche si la personne n'a pas de publication #}

        <div class="row justify-content-center justify-content-lg-end">
            <div class="post-form-block col-10 col-lg-9 mt-3 p-2 ">
                <p class="p-2">Vous n'avez aucune publication</p>
            </div>
        </div>

        {% endif %}

{% endblock %}