{% extends 'base.html.twig' %}

{% block title %}Publications{% endblock %}

{% block pageTitle %}Les publications de {{ user.firstName }}{% endblock %}

{% block body %}
<!-- Template used to show the posts of a user -->
    {% include 'topLinks.html.twig' %} 

    {% if posts|length > 0 %}
        <!-- Liste of posts -->
        {% include 'post/post.html.twig' %}
    {% else %}
        <!-- Text shown if the user does not have any posts -->
        <div class="row justify-content-center justify-content-lg-end">
            <div class="post-form-block col-10 col-lg-9 mt-3 p-2 ">
                <p class="p-2">L'utilisateur n'a aucune publication</p>
            </div>
        </div>
    {% endif %}
    <!-- Pagination -->
    <div class="row justify-content-center justify-content-lg-end mt-5 mb-5">
        <div class="navigation">
            {{ knp_pagination_render(posts) }}
        </div>  
    </div> 

{% endblock %}