// Styling the page of the climbing clubs

.club-block{
    background-color: $blackrgba;
    h4{
        a{
            font-family: OpenRegular;
            color: $green;
        }   
    }
    .club-image{
        width: 100%;
    }
    p{
        color: $yellow;
    }
    .badge{
        background-color: $orange;
    }
    .info-button{
        @include buttons-colored($green);
    }
    .users-link{
        color: $green;
    }

    .new-club-button{
        @include buttons-colored($green);
        font-family: OpenSemiBold;
    }
}

.update-club{
    color: $orange;
    &:hover{
        color: $orange;
        cursor: pointer;
    }
}

.new-club-form{
    background-color: $blackrgba;
    color: $yellow;
    form{
        label{
            font-family: OpenSemiBold;
        }
        width: 70%;
        input,
        select{
            background-color: transparent;
            color: $green;
            border: 1px solid $green;
            border-radius: 0px;
        }
        @include upload_button($orange, $black, 'Télécharger une photo', auto, 100%, 2px solid $orange);
        .new-club-submit{
            @include buttons-colored($green);
            font-family: OpenSemiBold;
        }
    }
}

