.events-block{
    background-color: $blackrgba;
    color: $orange;
    .new-event-button{
        @include buttons-colored($orange);
    }
    hr{
        border-color: $orange;
    }
    .search-form-block{
        select{
            background-color: $blackrgba;
            color: $orange;
            border: 1px solid $orange;
            border-radius: 0;
        }
    }
    .event-block{
        background-color: $greyrgba;
        .event-image{
            width: 100%;
        }
        a{
            &:hover{
                text-decoration: none;
            }
            h4{
                color: $green!important;
                font-family: OpenSemiBold;
                &:hover{
                    text-decoration: none;
                }
            }
        }
        .img-cadre{
            width: 40px;
            height: 40px;
            overflow: hidden;
            border-radius: 500px;
            .postedByImage{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        
        .postedByName{
            font-size: 0.7rem;
            div{
                a{
                    color: $orange;
                }
            }
        }
        .save-button{
            color: $orange;
            border: 1px solid $orange;
            background-color: transparent;
            border-radius: 0;
            transition: 0.2s;
            width: 100%;
            &:hover{
                background-color: $orange;
                color: $black;
            }
        }
        .info-button{
            color: $green;
            border: 1px solid $green;
            background-color: transparent;
            border-radius: 0;
            transition: 0.2s;
            width: 100%;
            &:hover{
                background-color: $green;
                color: $black;
            }
        }
        .event-details{
            color: $yellow;   
        }
        .date{
            font-size: 0.9rem;
            font-family: OpenItalic;
            color: $yellow;
        }
        .commentsAndUsers{
            font-size: 0.9rem;
            font-family: OpenItalic;
            color: $orange;
        }
    }
}

.new-form-block{
    background-color: $blackrgba;
    color: $green;
    input,
    textarea,
    select{
        background-color: $greyrgba;
        border: none;
        border-radius: 0;
        color: $orange;
    }
    select{
        margin: 3px;
    }
    .submit-button{
        @include buttons-colored($orange);
    }
}