// Styling the events page, the new event form and the update event form

.events-block{
    background-color: $blackrgba;
    color: $orange;
    .new-event-button{
        @include buttons($green);
        font-family: OpenRegular;
        text-transform: uppercase;
    }
    hr{
        border-color: $orange;
    }
    form{
        padding: 20px 0;
        text-align: right;
        input{
            border-radius: 0;
            background-color: transparent;
            border: 1px solid $green;
            &::placeholder{
                color: $green;
            }
            &:focus{
                color: $yellow;
                background-color: transparent;
            }
        }
        .btn-submit{
            @include buttons-colored($green);
            border-color: $green;
            padding: 5px 10px;;
        }
    }
    .event-block{
        background-color: transparent;
        .event-image{
            width: 100%;
        }
        a{
            &:hover{
                text-decoration: none;
            }
            h4{
                color: $green!important;
                font-family: OpenSemiBold;
                &:hover{
                    text-decoration: none;
                }
            }
        }
        .img-cadre{
            width: 40px;
            height: 40px;
            overflow: hidden;
            border-radius: 500px;
            .postedByImage{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        
        .postedByName{
            color: $green;
            font-size: 0.8rem;
            div{
                a{
                    color: $green;
                }
            }
        }

        .event-details{
            font-family: OpenLight;
        }

        .save-button{
            color: $orange;
            border: 1px solid $orange;
            background-color: transparent;
            border-radius: 0;
            transition: 0.2s;
            width: 100%;
            font-size: 0.8rem;
            font-family: OpenLight;
            &:hover{
                background-color: $orange;
                color: $black;
            }
        }
        .info-button{
            color: $green;
            border: 1px solid $green;
            background-color: transparent;
            border-radius: 0;
            transition: 0.2s;
            width: 100%;
            &:hover{
                background-color: $green;
                color: $black;
            }
        }
        .event-details{
            color: $yellow;   
        }
        .date{
            font-size: 0.9rem;
            font-family: OpenLight;
            color: $yellow;
        }
        .commentsAndUsers{
            font-size: 0.9rem;
            font-family: OpenItalic;
            color: $orange;
        }
        hr{
            border: 1px dashed $green;
        }
    }
}

.new-form-block{
    background-color: $blackrgba;
    color: $green;
    input,
    textarea,
    select{
        background-color: $greyrgba;
        border: none;
        border-radius: 0;
        color: $orange;
    }
    select{
        margin: 3px;
    }
    #output{
        width: 80%;
    }
    textarea{
        height: 200px;
    } 
    @include upload_button($green, $black, 'Télécharger une photo', auto, 100%, 1px solid $green);

    .submit-button{
        @include buttons-colored($orange);
    }
}

.event-update-form{
    select{
        margin: 3px;
    }
}