header{
    font-family: OpenRegular;
    nav{
        color: $yellow;
        background-color: $black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        z-index: 60;
        top: 0;
        width: 100%;
        #logo{
            height: 60px;
        }
        .menu-block{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin: 0 20px 0 0;
            .navbar-nav{
                .nav-link{
                    color: $yellow;
                    &:hover{
                        color: $orange;
                    }
                }
                .dropdown-menu{
                    background-color: $black;
                    .dropdown-item{
                        color: $yellow;
                        font-family: OpenLight;
                        &:hover{
                            background-color: $black;
                            color: $green;
                        }
                    }
                    .dropdown-divider{
                        color: $yellow;
                        border-color: $yellow;
                    }
                    
                }
            }
            .burger{
                font-size: 30px;
                &:hover{
                    color: $green;
                    cursor: pointer;
                }
            }
            .menu-list{
                display: flex;
                margin: 0;
                .menu-item{ 
                    list-style: none;
                    padding-left: 30px;
                    &:last-of-type a{
                        color: $green;
                    }
                    .menu-link{
                        text-decoration: none;
                        color: $yellow;
                        font-size: 14px;
                        font-family: OpenLight;
                        display: flex;
                        align-content: flex-start;
                        text-transform: uppercase;
                        &:hover{
                            text-decoration: none;
                            color: $green;
                        }
                        i{
                            color: $yellow;
                        }
                        .club-icon{
                            width: 30px;
                            &:hover{
                                color: $orange;
                            }
                        }
                    }
                    .menu-link.new-messages{
                        color: $orange;
                        font-family: OpenBold;
                    }
                }
            }
        } 
    }
    .header{
        background-color: rgba(39,39,39,0.89);
        padding-top: 60px;
        height: auto;
        min-height: 200px;
        .card{
            background-color: $green;
            border-radius: 0;
            position: absolute;
            z-index: 5;
            padding: 0;
            top: 100px;
            left: 5%;
            border: none;
            .img-cadre{
                width: 120px;
                height: 120px;
                overflow: hidden;
                border-radius: 50%;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    
                }
            }
            .card-title{
                a{
                    font-family: OpenBold;
                    color: $yellow;
                    &:hover{
                        text-decoration: none;
                        color: $orange;
                    }
                }
            }

            
            .card-text{
                color: white;
                .level,
                .club-link{
                    color: $yellow;
                    font-family: OpenLightItalic;
                }
            }
            .badge{
                color: orange;
                border: 1px solid $orange;
                background-color: $black;
                padding: 5px 10x;
                border-radius: 0;
                margin: 10px;
            }
            .buttons{
                width: 100%;
                background-color: $black;
                padding: 20px;
                .btn{
                    margin: 10px 0;
                    width: 100%;
                }
                .event-button{
                    @include buttons($orange);
                }
                .grimpeur-button{
                    @include buttons($yellow);
                }
                .club-button{
                    @include buttons($green);
                }
                .post-button{
                    @include buttons($grey);
                }
            }
        }
        .image-block{
            .img-cadre{
                width: 120px;
                height: 120px;
                overflow: hidden;
                border-radius: 200px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    
                }
            }
        }
        h1{
            font-family: OpenLight;
            color: $orange;
            letter-spacing: 2px;
        }
    }
}