//Styling the page that shows the last message of each conversation

.message-block{
    position: relative;
    background-color: $blackrgba;
    .chat-users{
        vertical-align: middle;
        .img-cadre{
            width: 40px;
            height: 40px;
            display: inline-block;
            margin: 8px;
            border-radius: 50%;
            overflow: hidden;
            img{
                height:100%;
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        .name{
        color: $green;
        font-size: 1.2rem;
        font-family: OpenRegular;
        }   
    }
    .chat-users.to-user{
        .name{
            text-align: right;
        }
    }
    
    .message-body{
            color: $orange;
    }
    .message-date{
        font-size: 0.8rem;
        color: $yellow;
    } 
    .response-link{
        position: absolute;
        top: 100%;
        right: 20px;
        background-color: $green;
        color: $black;
        font-size: 0.8rem;
        padding: 2px 5px;
    }

    .seen-link{
        position: absolute;
        top: 100%;
        right: 100px;
        background-color: $yellow;
        color: $black;
        font-size: 0.8rem;
        padding: 2px 5px;
    }

    .nouveau-link{
        color: $black;
        background-color: $orange;
        font-size: 0.8rem;
        padding: 2px 5px;
        display: inline-block;
    }
}
.message-block.not-seen{
    background-color: $black;
    .message-body{
        color: $yellow;
    }
}