.post-body{
    font-size:0.8rem;
    color: $green;
}

.date{
    color: $orange;
    font-size: 0.8rem;
    a{
        color: $orange;
    }
}

.icons{
    a{
        color: $orange;
        font-size: 1.2rem;
        cursor: pointer; 
    }
}