//Styling the page that shows the user's own events

a{
    &:hover{
       text-decoration: none; 
    }
    
    h2{
    color: $yellow;
    }
}

.event-description{
    color: $green;
    font-size: 0.8rem;
}