.post-body{
    font-size:0.8rem;
    color: $green;
}

.date{
    color: $orange;
    font-size: 0.8rem;
    a{
        color: $orange;
    }
}

button.delete-post{
    color: $orange;
    border: none;
    background-color: transparent;
}

.icons{
    a{
        color: $orange;
        font-size: 1.2rem;
        cursor: pointer;
        
    }
}
 
.submit-button.post-update{
    @include buttons-colored($orange);
    font-size: 1rem;
    &:hover{
        transform: scale(1.01);
    }
}

.profil-block, .update-reply-form{
    position: relative;
}
.spinner-front{
    height: 50px;
}

.green-spinner{
    background-image: url('../../images/icons/spinner_green.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.spinner-invisible{
    display: none;
}

.cancel{
    position: absolute;
    right: 20px;
    bottom: 100%;
    font-size: 0.8rem;
    background-color: $black;
    color: $orange;
    font-family: OpenLight;
    padding: 2px 5px;
    cursor: pointer;
    &:hover{
        transform: scale(1.07);
    }
}
