
.flash-message{
        background-color: $green;
        color: $black;
}

.profil-block{
    background-color: $blackrgba;
    img{
        width: 100%;
    }
    label, legend{
        color: $orange;
        font-family: OpenRegular;
    }
    input, textarea, select{
        background-color: $greyrgba;
        border-radius: 0;
        border: none;
        color: $green;
        &:focus{
            background-color: $blackrgba;
            color: $green;
        }
    }

    @include upload_button($black, $green, 'Changer ma photo', 100%, 180%, none);

    textarea{
        min-height: 150px;
        height: 200px;
    }

    textarea::-webkit-scrollbar {
        width: 1em;
        background-color: $green;
    }

    textarea::-webkit-scrollbar-thumb {
        background-color: $green;
        // outline: 1px solid slategrey;
    }

    h5{
        color: $yellow;
    }

    .submit-button{
        @include buttons-colored($green);
    }

    hr{
        border-color: $orange;
    }

    .buttons{
        margin: 10px 0;
    }

    .my-posts-button{
        @include buttons($grey);
    }

    .my-events-button{
        @include buttons($yellow);
    }

    .my-comments-button{
        @include buttons($green);
    }

    .delete-account-button{
        @include buttons(#c82333);
    }
}
