.event-block{
    background-color: $blackrgba;
    .event-header{
        color: yellow;
        .event-image{
            width: 100%;
        }
        .postedBy-link{
            color: $green;
        }
        .save-button{
            @include buttons-colored($orange);
        }
    }
    .interested-persons{
        color: $green;
    }
    
    .description{
        h3{
            color: $orange;
            font-family: OpenSemiBold;
        }
        p{
            color: $green;
        }
    }

    .interested-friends{
        h4{
            color: $orange;
            font-family: OpenSemiBold;
        }
    }  
}

.comment-section{
        h4{
            color: $yellow;
        }
        h5{
            color: $yellow;
        }
        label{
            color: $orange;
        }
        .comment-block{
            background-color: $greyrgba;
            .date{
                font-size: 0.9rem;
                font-family: OpenLightItalic;
                color: $yellow;
            }
            .postedByImage{
                width: 100%;
                min-width: 25px;
                border-radius: 500px;
            }
            .name{
                color: $yellow;
                &:hover{
                    text-decoration: none;
                } 
            }
            .commentBody{
                color: $green;
                font-family: OpenLight;
            }
            .commentLike{
                color: $yellow;
            } 
        }
        .form-block{
            textarea{
                background-color: $greyrgba;
                color: $green;
                border-radius: 0;
                border: none;
            }
            .submit-button{
                @include buttons-colored($orange);
            }
        }
        .commentLike-count{
            color: $yellow;
        }
        .commentLike-button{
            @include buttons-colored($green);
            width: 100%;
        }
        .open-form-button{
            @include buttons($yellow);
            width: 100%;
        }

        .reply-button{
            @include buttons($yellow);
        }

        .comment-replies{
            .new-reply-button{
                @include buttons($green);
                font-size: 0.8rem;
                padding: 5px 10px;
            }
            textarea{
                border-radius: 0;
                background-color: $grey;
                border: none;
                color: $green;
                width: 100%;
            }
            .new-reply-submit-button{
                @include buttons-colored($green);
                font-size: 0.8rem;
                padding: 5px 10px;
            }
            .reply-body{
                color: $green;
                font-size: 0.8rem;
            }
            .img-cadre{
                width: 30px;
                height: 30px;
                overflow: hidden;
                border-radius: 500px;
                .postedByImage{
                    border-radius: 0;
                    object-fit: cover;
                    object-position: center;
                    height: 100%;
                    width: 100%;
                }
            }
            .postedByUsername{
                color: $orange;
            }
            .ago{
                margin: 0;
                font-size: 0.8rem;
                color: $yellow;
            }
            .hide-replies-button{
                font-size: 0.8rem;
                color: $yellow;
            }
        }
    }