.event-block{
    background-color: $blackrgba;
    .event-header{
        color: yellow;
        .event-image{
            width: 100%;
        }
        .postedBy-link{
            color: $green;
        }
        .saved-message{
            color: $green;
            font-size: 0.8rem;
        }
        .save-button{
            @include buttons-colored($orange);
        }
        h5,h6, span, p{
            font-family: OpenLight;
        }
    }
    .interested-persons{
        color: $green;
        font-size: 0.8rem;
    }
    
    .description{
        h3{
            color: $orange;
            font-family: OpenSemiBold;
        }
        p{
            color: $green;
        }
    }

    .interested-friends{
        h4{
            color: $orange;
            font-family: OpenSemiBold;
        }
    }  
}

