.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .cardd{
        background-color: $blackrgba;
        border-radius: 0;
        display: flex;
        width: 30%;
        min-width: 200px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        .img-cadre{
            width: 120px;
            height: 120px;
            overflow: hidden;
            border-radius: 500px;
            .card-image{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        
        .card-title{
            a{
                color: $yellow;
                font-family: OpenSemiBold;
                font-size: 1.2rem;
            } 
        }
        .card-text{
            color: $green;
            font-family: OpenLight;
            font-size: 0.8rem;
        }
        .salles{
            color: $green;
            font-family: OpenLight;
            font-size: 0.8rem;
            .club-link{
                color: $green;
            }
        }
        .presentation{
            font-size: 0.9rem;
            color: $orange;
            font-family: OpenLight;
            text-align: center;
        }
        .buttons{
            background-color: $greyrgba;
            width: 100%;
            border: none;
            text-align: center;
            .profil-button,
            .invitation-button,
            .message-button{
                @include buttons-colored($green);
            }
            a{
                width: 80%;
            }
        }
    }
}



.user-search-form{
    form{
       width: 100%;
       display: flex;
       justify-content: space-between;
       background-color: $blackrgba;
       padding: 10px;
       #user_search{
           display: flex;
           justify-content: space-around;
           width: 80%;
           .form-group{
                width: 45%;
                margin: 0;
                input{
                    border-radius: 0px;
                    color: $green;
                    background-color: transparent;
                    border-color: $yellow;
                }
            }     
        }
        input[type="submit"]{
            @include buttons-colored($orange);
            font-family: OpenSemiBold;
        }    
    }
}

