{% extends 'base.html.twig' %}

{% block title %}Grimpeurs{% endblock %}

{% block pageTitle %}{{ totalSearchedUsers }} résultat{% if totalSearchedUsers > 1 %}s{% endif %}{% endblock %}

{% block body %}

    {% include 'topLinks.html.twig' %}

    <!-- User search form -->
    {% if form is defined %}
        {% include 'user/userSearchForm.html.twig' %}
    {% endif %}

    <div class="row justify-content-center justify-content-lg-end">
        <div class="card-container col-11 col-sm-10 col-lg-9 p-0">
            <!-- Users list -->
            {% include 'user/user.html.twig' %}
        </div>    
    </div>
      

{% endblock %}