<div class="row justify-content-center justify-content-lg-end">
    <div class="search-form-block col-10 mt-3 col-lg-9">
        <div class="user-search-form row justify-content-center p-2">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" class="btn submit-button" value="Rechercher">
            {{ form_end(form) }}    
        </div>
    </div>
</div> 