<!-- User search form -->
<div class="row user-search-block justify-content-center justify-content-lg-end">
    <div class="user-search-form col-11 col-sm-10 mt-3 col-lg-9">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="row justify-content-end">
                <div class="col-12 col-md-6 col-lg-3 text-right">
                    <input type="submit" class="btn submit-button w-100" value="Rechercher">
                </div>
            </div>
        {{ form_end(form) }}    
    </div>
</div> 